<div class="container col-md-8" >
  <div class="card">
    <div class="card-header">
      <h3>Agregar Permiso</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="permisoForm" (ngSubmit)="Guardar(permisoForm.value)">
        <div class="form-group">
          <label>Nombre</label>
          <input formControlName="nombreEmpleado" name="nombreEmpleado"
                 type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Apellidos</label>
          <input  name="apellidosEmpleado"
                 type="text" class="form-control" formControlName="apellidosEmpleado">
        </div>
        <div class="form-group">
          <label>Tipo Permiso</label>
          <select name="id" class="form-select"
                  aria-label="Default select example" formControlName="tipoPermiso">
            <option *ngFor="let item of tipoPermisos" [ngValue]="item.id">
              {{ item.descripcion }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Fecha</label>
         <input  name="fechaPermisoDate"
                type="date" class="form-control" formControlName="fechaPermisoDate">
        </div>
        <br>
        <button [disabled]="permisoForm.invalid" type="submit" class="btn btn-primary btn-md">Guardar</button>
      </form>
    </div>
  </div>
</div>
