<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Permisos</h3>
    </div>
    <div class="card-body">
      <div class="table table-hover">
        <thead>
        <tr class="text-center">
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDOS</th>
          <th>TIPO PERMISO</th>
          <th>FECHA</th>
          <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let permiso of permisosList" class="text-center">
          <td>{{permiso.id}}</td>
          <td>{{permiso.nombreEmpleado}}</td>
          <td>{{permiso.apellidosEmpleado}}</td>
          <td>{{permiso.tipoPermiso}}</td>
          <td>{{permiso.fechaPermiso}}</td>
          <td>
            <button  (click)="Editar(permiso)" class="btn btn-warning btn-sm " style="margin: 5px;">Editar</button>
            <button  (click)="Eliminar(permiso)" class="btn btn-danger btn-sm " style="margin: 5px;">Eliminar</button>
          </td>
        </tr>
        </tbody>

      </div>
    </div>
  </div>
</div>
